*{
    padding: 0;
    margin: 0;
}

body{
    transform: scale(1.5);
}

.game{
    width: 520px;
    height: 220px;
    border: 1px solid black;
    margin: auto;

    overflow: hidden;
}

#aline{
    width: 70px;
    height: 70px;
    background-image: url(/img/aline.png);
    background-size: 70px 70px;
    position: relative;
    top: 150px;
}

.jump{
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 120px;
    }

    50%{
        top: 90px;
    }

    80% {
        top: 120px;
    }

    100% {
        top: 150px;
    }

}

#linus{
    width: 50px;
    height: 50px;
    background-image: url(/img/linus.png);
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    left: 460px;

    animation: block 1.3s infinite linear ;
}

#linus2{
    width: 30px;
    height: 30px;
    background-image: url(/img/linus2.png);
    background-size: 30px 30px;
    position: relative;
    top: 75px;
    left: 520px;

    animation: block 2s infinite linear;
    animation-delay: 5s;
}

#linusvogel{
    width: 60px;
    height: 50px;
    background-image: url(/img/linusvogel.png);
    background-size: 60px 50px;
    position: relative;
    top: -30px;
    left: 520px;

    animation: block 1.5s infinite linear;
    animation-delay: 14s;
}



@keyframes block{
    0% {
        left: 460px;
    }
    100%{
        left: -50px;
    }
}

#counter{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
