*{
    padding: 0;
    margin: 0;
}

.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#aline{
    width: 50px;
    height: 50px;
    background-image: url(/img/aline.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump{
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50%{
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }

}

#linus{
    width: 40px;
    height: 40px;
    background-image: url(/img/linus.png);
    background-size: 40px 40px;
    position: relative;
    top: 110px;
    left: 460px;

    animation: block 1s infinite linear ;
}

@keyframes block{
    0% {
        left: 460px;
    }
    100%{
        left: -40px;
    }
}