@font-face {
    font-family: 'Geomanist';
    src: url(../fonts/Geomanist-Black#2.otf);
}

@font-face {
    font-family: 'Intro Light';
    src: url(../fonts/INTRO\ LIGHT.OTF);
}

@font-face {
    font-family: 'Intro Bold';
    src: url(../fonts/INTRO\ BOLD.OTF);
}

*{
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Geomanist';
    font-size: 130px;
}

h2 {
    font-family: 'Intro Bold';
}

p {
    font-family: 'Intro Light';
}

.headertext {
    text-align: center;
    margin-bottom: 50px;
}

.game{
    width: 520px;
    height: 220px;
    border: 1px solid black;
    margin: auto;

    overflow: hidden;
}

#aline{
    width: 70px;
    height: 70px;
    background-image: url(/img/aline.png);
    background-size: 70px 70px;
    position: relative;
    top: 150px;
}

.jump{
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 120px;
    }

    50%{
        top: 90px;
    }

    80% {
        top: 120px;
    }

    100% {
        top: 150px;
    }

}

#linus{
    width: 50px;
    height: 50px;
    background-image: url(/img/linus.png);
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    left: 460px;
}

#linus2{
    width: 30px;
    height: 30px;
    background-image: url(/img/linus2.png);
    background-size: 30px 30px;
    position: relative;
    top: 75px;
    left: 520px;
}

#linusvogel{
    width: 60px;
    height: 50px;
    background-image: url(/img/linusvogel.png);
    background-size: 60px 50px;
    position: relative;
    top: -30px;
    left: 520px;
}



@keyframes block{
    0% {
        left: 460px;
    }
    100%{
        left: -50px;
    }
}

#counter{
    text-align: center;
    font-family: 'Geomanist';
    font-size: larger;
}

#highscoreDisplay{
    text-align: center;
    font-family: 'Geomanist';
    font-size: larger; 
}

#startButton {
    font-family: 'Intro Light';
    width: 200px;
    height: 60px;
    font-size: 50px;
}

.buttonsection {
    display: flex;
    justify-content: center;
}
